<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="main-content">
      <%- include('../partials/header.ejs') %>
      <img class="portrait" src="/img/black-labrador.jpg" alt="" />
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
