<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="main-content"><%- include('../partials/header.ejs') %></div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
