<html lang='en'>
  {{> head }}
  <body>
    <div class="main-content">
      {{> header }}  
      <p>Use this site to get your weather!</p>
      <form action="">
        <input type="text" placeholder="Location">
        <button>Search</button>
      </form>

      <p class="location"></p>
      <p class="forecast"></p>
    </div>
      {{> footer }}
  </body>
  <script src="js/app.js"></script>
</html> 