<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <style>
    p {
      margin: 0;
    }

    .title {
      background-color: #ccc;
      cursor: pointer;
      padding: 0.2rem;
    }

    .card {
      margin: 0 auto;
      width: 70%;
      border: 1px solid #888;
    }
  </style>
  <body>
    <% for( let i = 0; i < posts.length; i++ ) { %>
    <div data-uuid="<%= posts[i].id %>" class="card">
      <p class="title"><%= posts[i].title %></p>
      <p><%= posts[i].content %></p>
    </div>
    <% } %>
  </body>
</html>
<script>
  document.body.addEventListener('click', async (e) => {
    if (e.target.classList.contains('title')) {
      const uuid = e.target.closest('div').dataset.uuid
      const response = await fetch('http://localhost:8080/' + uuid, {
        method: 'delete',
      })
      console.log(response)
    }
  })

  async function fetchData() {
    try {
      const response = await fetch('http://localhost:8000/posts')
      const data = await response.json()
      console.log(data)
    } catch (error) {
      console.log(error)
    }
  }

  fetchData()
</script>
